/* 
- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)
- Blue: hsl(248, 32%, 49%)
- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%) 
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.75rem;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 100%, 74%);
  background-image: url(/images/bg-intro-desktop.png);
}

.main {
  display: flex;
  flex-direction: row;
}

.content {
  max-width: 50%;
  height: 700px;
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  align-items: center;
  margin: 0 25%;
  margin-top: 13rem;
  line-height: 1.2;
}

.brief {
  margin-top: 1rem;
  margin-left: 25%;
  margin-right: 5%;
}

.form {
  width: 50%;
  padding-left: 5%;
  padding-right: 10%;
}

.premium {
  background-color: hsl(248, 32%, 49%);
  width: 100%;
  padding: 0.8rem 4rem;
  text-align: center;
  border-radius: 12px;
  margin-top: 5rem;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.26);
}

.form--inputs {
  background-color: white;
  border-radius: 12px;
  padding: 2.2rem;
  margin-top: 2rem;
}

input {
  width: 100%;
  height: 2.5rem;
  border-radius: 7px;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(249, 10%, 26%);
}

input:focus {
  outline: none;
  border: 1px solid hsl(248, 32%, 49%);
  border-radius: 7px;
}

.err-text {
  color: hsl(0, 100%, 74%);
  text-align: right;
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 0.6rem;
  visibility: hidden;
}

.error {
  visibility: visible;
}

.error input {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

button {
  width: 100%;
  box-shadow: 0 5px 0 hsl(154, 58%, 38%);
  padding: 0.8rem 4rem;
  margin-bottom: 10px;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 6px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  background-color: hsl(154, 51%, 65%);
  box-shadow: 0 5px 0 hsl(154, 58%, 38%);
}

.form--footer {
  margin-top: 5px;
  color: hsl(246, 25%, 77%);
  font-size: 10px;
  text-align: center;
  font-weight: 600;
}

.terms {
  color: hsl(0, 100%, 74%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
